<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
    <body>
        <h1>Rohith Reddy Gurram</h1>
        <h1>ID: 1001959477</h1>

        <table border = 1>
            <tr>
                <td> Time </td>
                <td> Latitude </td>
                <td> Longitude </td>
                <td> Magnitude </td>
                <td> Net </td>
                <td> ID </td>
                <td> Place </td>
            </tr>
            {% for x in data %}
            <tr>
                <td> {{x[0]}}</td>
                <td> {{x[1]}}</td>
                <td> {{x[2]}}</td>
                <td> {{x[3]}}</td>
                <td> {{x[4]}}</td>
                <td> {{x[5]}}</td>
                <td> {{x[6]}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>