<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
    <body>
        <h1>Rohith Reddy Gurram</h1>
        <h1>ID: 1001959477</h1>

        <h3>Enter the range of the earthquake to search for: </h3>

        <form action="/home" method="POST">
            Range 1 <input type="number" name="range1" />
            <br>
            Range 2 <input type="number" name="range2" />
            <br>
            <input type="submit">
        </form>
    </body>
</html>